* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.main-outlet {
  margin-top: 140px;
}
