.detailsContainer {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 550px;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 1rem;
  color: #333;
}

.detailsContent {
  display: flex;
  justify-content: space-between;
}

.detailItem {
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.detailItem h2 {
  font-size: 24px;
  color: #da7426;
  margin-bottom: 0.5rem;
}

.detailItem p {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.additionalInfo {
  margin: 4rem 0 2rem 0;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.additionalInfo h2 {
  font-size: 24px;
  color: #da7426;
  margin-bottom: 1rem;
}

.additionalInfo p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

.buttonContainer {
  display: flex;
  justify-content: center; 
  margin-top: 1rem;
}

.classic {
    background-color: #d3d3d38a;
    padding: 0.7rem 2rem;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: #000;
    width: auto;
    border: none;
    font-size: 1rem;
}

.classic:hover {
  background-color: #da7426;
  box-shadow: 0 0 10px #da7426;
  color: #fff;
}

.classic:active {
    background-color: #a64c14;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}
